@import url("public/fonts/inter/inter.css");
@import url("public/fonts/jbmono/jetbrains-mono.css");

:root {
  --bg: #191919;
  --fg: #f6f6f6;

  /* Automod Compat*/
  --foreground: var(--fg);

  --accent: #fd6671;
  --primary-bg: #242424;
  --header-bg: #363636;
  --secondary-bg: #1e1e1e;
  --secondary-fg: #c8c8c8;
  --hover-bg: #313131;
  --placeholder-fg: #818181;
  --font-sans: "Inter", system-ui;
  --font-mono: "JetBrains Mono", monospace;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #f6f6f6;
    --fg: #000;
    --accent: #fd6671;
    --primary-bg: #d7d7d7;
    --secondary-bg: #d5d5d5;
    --secondary-fg: #1f1f1f;
    --hover-bg: #bbbbbb;
    --placeholder-fg: #1f1f1f;
    --header-bg: #eaeaea;
  }
}

* {
  box-sizing: border-box;
}

body {
  overscroll-behavior: none;
  width: 100%;
  height: 100dvh;
  margin: 0 0;
  padding: 0 0;
  background-color: var(--bg);
  color: var(--fg);
  font-family: var(--font-sans);
}

button {
  -webkit-user-select: none;
  user-select: none;
  font-size: 1.05em;
}

main#login {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: .5fr 1fr 1fr;
  margin-inline: 1rem;
  height: 100dvh;
}

main#login header {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 2;
}

main#login form {
  grid-column: 1;
  grid-row-start: 2;
  grid-row-end: 4;
}

main#login section#about {
  background-color: var(--secondary-bg);
  padding: 0.5rem;
  overflow: auto;
  height: 100%;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

main#login form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

main#login form label {
  -webkit-user-select: none;
  user-select: none;
}

main#login section#about details {
  margin-top: .5rem;
  margin-bottom: .5rem;
  -webkit-user-select: none;
  user-select: none;
}

main#login section#about details:first-child {
  margin-top: 0;
}

main#login section#about details:last-child {
  margin-bottom: 0;
}

main#login section#about summary p {
  -webkit-user-select: auto;
  user-select: auto;
}

main#login form input:not([type="checkbox"]) {
  transition: box-shadow 0.2s ease-in-out;
  background-color: var(--secondary-bg);
  color: var(--fg);
  font-size: 1.2em;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  outline: none;
}

main#login form input:not([type="checkbox"])::placeholder {
  color: var(--placeholder-fg);
  opacity: 50%;
}

dialog input:not([type="checkbox"]) {
  transition: box-shadow 0.2s ease-in-out;
  background-color: var(--secondary-bg);
  color: var(--fg);
  font-size: 1.2em;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  outline: none;

  margin-right: 2rem;
}

dialog input:not([type="checkbox"])::placeholder {
  color: var(--placeholder-fg);
  opacity: 50%;
}

dialog input:not([type="checkbox"]):focus:focus-within {
  box-shadow: 0 0 0 2px var(--accent);
}

main#login form button {
  transition: box-shadow 0.2s ease-in-out;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  outline: none;
  color: inherit;
  background-color: var(--secondary-bg);
}

section#middle .intro button {
  transition: box-shadow 0.2s ease-in-out;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  outline: none;
  color: inherit;
  background-color: var(--secondary-bg);
}

section#middle .intro button:hover {
  background-color: var(--hover-bg);
}

section#middle .intro button:focus:focus-within {
  cursor: pointer;
  box-shadow: 0 0 0 2px var(--accent);
}

main#login form button:focus:focus-within {
  cursor: pointer;
  box-shadow: 0 0 0 2px var(--accent);
}

main#login form input:not([type="checkbox"]):focus:focus-within {
  box-shadow: 0 0 0 2px var(--accent);
}

main#login form label {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

main#login form label input[type="checkbox"] {
  transition: box-shadow .2s ease;
  display: grid;
  place-content: center;
  appearance: none;
  background-color: var(--primary-bg);
  font: inherit;
  color: var(--accent);
  width: 1rem;
  height: 1rem;
  border-radius: 5px;
}

main#login form label input[type="checkbox"]::before {
  content: "";
  width: 1rem;
  height: 1rem;
  transform: scale(0);
  transition: .2s transform cubic-bezier(0, 0, 0, 1);
  border-radius: 5px;
  box-shadow: inset 1em 1em var(--accent);
}

main#login form label input[type="checkbox"]:checked::before {
  transform: scale(1);
}

dialog {
  background-color: var(--header-bg);
  border: none;
  border-radius: 5px;
  color: var(--fg);
}

dialog button {
  transition: box-shadow 0.2s ease-in-out;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  outline: none;
  color: inherit;
  background-color: var(--primary-bg);
  margin: 0 .2rem;
}

dialog button:hover {
  background-color: var(--hover-bg);
}

dialog button:focus:focus-within {
  cursor: pointer;
  box-shadow: 0 0 0 2px var(--accent);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr auto;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

.bar {
  padding: 5px;
  background-color: var(--header-bg);
}

.bar.flex {
  display: flex;
  gap: 2px;
  flex-direction: row;
  align-items: center;
}

.stick {
  position: sticky;
}

.anchor-bottom {
  bottom: 0;
}

.anchor-left {
  left: 0;
}

.anchor-right {
  right: 0;
}

.anchor-top {
  top: 0;
}

header#top {
  grid-area: 1 / 1 / 2 / 2;
  background-color: var(--header-bg);
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  padding: 0 0;
}

header#top select {
  transition: box-shadow 0.2s ease-in-out;
  background-color: var(--secondary-bg);
  color: var(--secondary-fg);
  border: none;
  margin-top: 2px;
  padding: 5px;
  width: 100%;
  box-shadow: none;
  outline: none;
}

header#top select:focus {
  box-shadow: 0 0 0 2px var(--accent);
}

header#top select:nth-child(1) {
  z-index: 2;
  margin-top: 0;
  border-radius: 10px 10px 5px 5px;
}

header#top select:nth-child(2) {
  z-index: 2;
  border-radius: 5px 5px 10px 10px;
}

section#middle {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-flow: column nowrap;
}

section#middle .intro {
  margin-top: auto;
  margin-bottom: auto;
  margin-inline: 1rem;
  align-self: center;
}

section#middle .intro button {
  display: flex;
  gap: .5rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

section#middle .intro button:hover {
  background-color: var(--hover-bg);
}

section#messagebox {
  grid-area: 3 / 1 / 4 / 2;
  background-color: var(--header-bg);
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  padding: 0;
}


section#middle {
  overflow-y: auto;
  overflow-wrap: break-word;
}

section#info h1 {
  font-size: 100%;
}

section#messagebox div.indicator {
  align-self: start;
  user-select: none;
  -webkit-user-select: none;
}

section#messagebox div.indicator,
section#messagebox div.indicator div.status {
  display: flex;
  flex-flow: row nowrap;
  gap: 2px;
  padding: .2rem;
  align-items: center;
}

section#messagebox div.status {
  margin-inline: .3rem;
}

section#messagebox div.indicator div.names {
  margin-left: auto;
}

section#messagebox div.status span.dot {
  display: block;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background-color: var(--fg);
}

section#messagebox div.status span.dot:nth-child(1) {
  animation: fade 1s ease-in-out infinite alternate;
}

section#messagebox div.status span.dot:nth-child(2) {
  animation: fade 1s ease-in-out infinite alternate;
  animation-delay: 333ms;
}

section#messagebox div.status span.dot:nth-child(3) {
  animation: fade 1s ease-in-out infinite alternate;
  animation-delay: 666ms;
}

#compose.grid #content {
  background-color: var(--primary-bg);
  color: var(--secondary-fg);
  padding: .5rem;
  width: 100%;
  border-radius: unset;
  padding: 4px;
  resize: none;
  outline: none;
}

#compose.grid {
  display: inline-flex;
  width: 100%;
  height: 100%;
}

#compose.grid textarea {
  transition: box-shadow 0.2s ease-in-out;
  background-color: var(--primary-bg);
  color: var(--fg);
  font-family: var(--font-sans);
  padding: 10px;
  border-radius: none !important;
  border: none;
  z-index: 1;
}

#compose.grid textarea:focus:focus-within {
  box-shadow: 0 0 0 2px var(--accent);
}

#compose.grid #attach {
  display: none;
}

#compose.grid label[for="attach"],
#compose.grid button#send {
  transition: box-shadow 0.2s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 50px;
  height: 100%;
  background-color: var(--secondary-bg);
  color: var(--fg);
  box-shadow: none;
  outline: none;
  border: none;
  z-index: 0;
}

#compose.grid button#send {
  background: var(--accent);
  color: black;
}

#compose.grid label[for="attach"]:focus,
#compose.grid label[for="attach"]:focus-within {
  box-shadow: 0 0 0 2px var(--accent);
}

#compose.grid button:focus,
#compose.grid button#send:focus-within {
  box-shadow: 0 0 0 2px var(--accent);
}

message-renderer {
  transition: box-shadow .3s ease;
  background-color: transparent;
  padding: .5rem;
  margin: 2px;
}

message-renderer:hover {
  background-color: var(--secondary-bg);
}

@media screen and (max-width: 650px) {
  main#login {
    display: flex;
    flex-direction: column;
  }

  section#about {
    background-color: transparent !important;
    padding: 0;
    margin: 0;
  }

}

@keyframes fade {
  from {
    opacity: 100%;
  }

  to {
    opacity: 35%;
  }

}

noscript .error {
  background-color: var(--accent);
  color: black;

  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;

  padding: 5px;

  z-index: 10;
}